@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    color: #444444;
    font-family: 'Roboto', sans-serif;
}

/*navigation style*/

nav {
    padding: 20px;
    border: 1px solid #dddddd;
}

.nav_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.nav_links {
    display: flex;
    align-items: center;
}

.nav_links a {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: .3s ease-out;
}

.nav_links a:hover {
    color: #3960cc;
}

.btn {
    background-color: #0e46df;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: #f1f1f7;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s ease-out;
}

.btn:hover {
    transform: translateY(-2px);
}

.nav_btn .bx-menu,
.nav_btn .bx-x,
.nav_link_btn {
    display: none;
    font-size: 2.1rem;
    vertical-align: middle;
    margin: 0 8px;
    transition: .3s ease-out;
    background-color: #0e46df;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}


/*hero style*/

.hero {
    height: 80vh;
    display: flex;
}

.hero_content {
    width: 1200px;
    margin: auto;
}

.headline {
    font-size: 4rem;
    color: #111111;
}

.description {
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #777777;
    line-height: 1.5;
}

.hero_btns .btn{
    padding: 20px 40px;
    font-size: 1.2rem;
}

.hero_btns .btn:last-child {
    background-color: transparent;
    border: 1px solid #dddddd;
    color: #111111;
    margin-left: 23px;
}

.hero_corousel {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.hero_corousel h2 {
    font-size: 1rem;
    width: 200px;
    font-weight: 500;
    margin-right: 30px;
    color: #aaaaaa;
}

.carousel_wrapper img{
    display: inline-block;
    width: 150px;
    padding: 0 30px;
    height: auto;
    flex-shrink: 0;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.corousel_content {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.corousel_content::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
}

.corousel_content::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    content: "";
    z-index: 2;
}

.corousel_content:hover .carousel_wrapper {
    animation-play-state: paused;
}

.carousel_wrapper {
    display: flex;
    min-width: fit-content;
    align-items: center;
    animation:  35s slide infinite linear;
}

/*about style*/

.about_content {
    width: 1200px;
    margin: auto;
}

.content_headline, .content_description {
    text-align: center;
}

.content_headline {
    font-size: 2.5rem;
    color: #111111;
    font-weight: 500;
}

.content_description {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #777777;
    font-weight: 400;
}

.about_features {
    margin-top: 5rem;
}

.about_features .feature {
    display: flex;
    align-items: center;
    margin: 5rem 0;
}

.feature > div {
    max-width: 50%;
}

@keyframes feature {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(5%);
    }
}

.feature_img img {
    position: relative;
    max-width: 85%;
    display: block;
    animation: 8s feature infinite alternate;
}

.feature_des {
    padding: 3rem;
}

.feature_des h3 {
    font-size: 1.5rem;
    color: #111111;
}

.feature_des p {
    margin: 1rem 0;
    color: #777777;
    font-size: 1.2rem;
}

.feature_list {
    margin-top: 2rem;
    list-style: none;
}

.feature_list li {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    color: #202020;
}

.feature_list li i {
    color: #0e46df;
    font-size: 1.4rem;
    margin-right: 7px;
}

.feature2 .feature_des {
    padding: 3rem 3rem 3rem 0rem;
}

.feature2 .feature_img img {
    margin: auto;
}

.about_btns {
    text-align: center;
}

.about_btns .btn {
    padding: 20px 40px;
    font-size: 1.2rem;
}

.about_btns .btn:last-child {
    background-color: transparent;
    border: 1px solid #dddddd;
    color: #111111;
    margin-left: 23px;
}

/*qualification style*/

.qualification {
    margin-top: 8rem;
}

.qualification_content {
    width: 1200px;
    margin: auto;
}

.qualification_content_headline, .services_content_headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qualification_content_headline p {
    max-width: 500px;
    text-align: left;
}

.qualification_cards {
    display: flex;
    margin-top: 3rem;
}

.qualification_cards .card {
    position: relative;
    background-color: #ffffff;
    margin: 2rem 1rem 2rem 0;
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,.2);
    border-radius: 5px;
    border: 1px solid #dddddd;
    transition: .3s ease-out;
}

.qualification_cards .card:hover {
    transform: translateY(-5px);
}

.qualification_cards .card_img img {
    display: block;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.qualification_cards .card h3 {
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: #222222;
}

/*service style*/

.services {
    margin-top: 8rem;
}

.service_content {
    max-width: 1200px;
    margin: auto;
}

.services_content_headline .btn {
    padding: 20px 40px;
    font-size: 1.2rem;
}

.services_card {
    margin-top: 3rem;
}

.services_card .service_row {
    display: flex;
}

.services_card .service_row .service_card {
    width: 33%;
    padding: 2rem 2rem 2rem 0;
}

.services_card .service_row .service_card img {
    display: inline-block;
    margin-bottom: 1rem;
    width: 40px;
}

.services_card .service_row .service_card h3 {
    color: #222222;
    font-weight: 500;
}

.services_card .service_row .service_card p {
    margin: 1rem 0;
    color: #777777;
    font-size: 1rem;
}

/*values section styles*/

.values {
    margin-top: 8rem;
}

.values_content {
    max-width: 1200px;
    margin: auto;
}

.values_cards {
    display: flex;
    margin-top: 3rem;
}

.value_card {
    background-color: #f1f1f7;
    padding: 2rem;
    width: 30%;
    margin: 1rem;
    border-radius: 6px;
}

.value_card img {
    display: inline-block;
    width: 100%;
    border-radius: 6px;
}


.value_card h3 {
    font-size: 1.5rem;
    color: #222222;
}

.value_card p {
    margin: 1rem 0 2rem;
    color: #777777;
    font-weight: 400;
    font-size: 1.1rem;
}

.values_btn {
    margin-top: 3rem;
    text-align: center;
}

.values_btn .btn{
    padding: 20px 40px;
    font-size: 1.2rem;
}

/*work style*/

.work {
    margin-top: 8rem;
}

.work_content {
    max-width: 1200px;
    margin: auto;
}

.work_main_contents {
    margin-top: 3rem;
    display: flex;
    align-items: center;
}

.work_main_contents .work_img {
    display: flex;
    align-items: center;
    justify-content: start;
}

.work_main_contents .work_img img {
    width: 85%;
    display: block;
    border-radius: 8px;
}

.work_features {
    display: flex;
    flex-direction: column;
}

.work_features .work_card {
    background-color: transparent;
    border: 1px solid #dddddd;
    padding: 1.3rem;
    margin: 1rem 0;
    border-radius: 6px;
    display: flex;
    opacity: .5;
    cursor: pointer;
    transition: .5s ease-out;
}

.work_features .work_card:hover {
    opacity: 1;
}

.work_features .work_card .work_label {
    width: 20px;
    height: 20px;
    background-color: #0e46df;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 1rem;
    margin-right: 1rem;
}

.work_features .work_card .work_label h3 {
    color: #ffffff;
    font-weight: 400;
    vertical-align: middle;
}

.work_features .work_card .work_description h3 {
    color: #222222;
    font-size: 1.4rem;
    font-weight: 600;
}

.work_features .work_card .work_description p {
    margin: 10px 0 0;
    color: #777777;
    font-weight: 400;
    font-size: 1.1rem;
}

/*cta style*/

.cta {
    margin-top: 8rem;
}

.cta_content {
    max-width: 1200px;
    margin: auto;
    background-color: #f1f1f7;
    display: flex;
    align-items: center;
}

.cta_card h2 {
    font-size: 2.1rem;
    color: #212121;
    font-weight: 500;
}

.cta_card .btn {
    margin-top: 1.5rem;
    padding: 20px 40px;
    font-size: 1.2rem;
}

.cta_content .cta_card:first-child {
    width: 90%;
    padding: 2.5rem 4rem;
}

.cta_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta_img img {
    display: inline-block;
    width: 50%;
    border-radius: 8px;
}

/*contact style*/

.contact {
    margin-top: 8rem;
}

.contact_content {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact_content > div {
    width: 50%;
}

.contact_label .content_headline {
    font-size: 4.5rem;
}

.contact_label .content_headline,
.contact_label .content_description {
    text-align: start;
}

.contact_label .divider {
    margin: 4.3rem 0;
    width: 70%;
    height: 1px;
    background-color: #dddddd;
}

.contact_info .info {
    display: flex;
    margin: 1rem 0;
}

.contact_info .info .bx {
    font-size: 2rem;
    color: #222222;
}

.contact_info .info_txt {
    margin-left: 1rem;
}

.contact_info .info_txt h3 {
    font-weight: 500;
    font-size: 1.2rem;
    color: #222222;
}

.contact_info .info_txt p {
    margin: 10px 0 0;
    color: #0e46df;
    font-weight: 600;
    font-size: 1rem;
}

.contact_form form {
    padding: 4rem 2rem;
    box-shadow: 0px 0px 200px 0px rgba(0,0,0,.1);
    border-radius: 6px;
    border: 1px solid #dddddd;
    max-width: 100%;
}

.contact_form form .form_row {
    margin: 1rem 0;
}

.contact_form form input,
.contact_form form textarea {
    padding: 1.3rem;
    border: 1px solid #dddddd;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.1);
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    display: inline-block;
}

.contact_form form textarea {
    height: 200px;
    resize: none;
}

.input_container {
    width: 49.99%;
}

.form_row .input_container:nth-child(1) {
    margin-right: 5px;
}

.form_row .input_container:nth-child(2) {
    margin-left: 5px;
}

.form_row .input_container:nth-child(3) {
    margin-right: 5px;
}

.form_row .input_container:nth-child(4) {
    margin-right: 5px;
}



.contact_form form .form_row:nth-child(1),
.contact_form form .form_row:nth-child(2)  {
    display: flex;
    align-items: center;
}

.contact_form form input:focus,
.contact_form form textarea:focus {
    outline: 1px solid #0e46df;
}

.contact_form .btn {
    margin-top: 1.5rem;
    padding: 20px 40px;
    font-size: 1.2rem;
}

/*footer style*/

.footer {
    border-top: 1px solid #ddd;
    margin-top: 8rem;
    padding: 2rem 0 0;
}

.footer_content {
    max-width: 1200px;
    margin: auto;
    
}

.footer_headline {
    border-bottom: 1px solid #ddd;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_content h2 {
    color: #222;
}

.footer_btns .btn {
    padding: 20px 40px;
    font-size: 1.2rem;
}

.footer_btns .btn:last-child {
    background-color: transparent;
    border: 1px solid #dddddd;
    color: #111111;
    margin-left: 23px;
}

.footer_copy {
    border-top: 1px solid #dddd;
    margin-top: 5rem;
    padding: 3rem 0;
}

.footer_copy h3 {
    color: #555555;
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 991px) {
    .nav_btn .bx-menu{
        display: inline-block;
        cursor: pointer;
    }

    .bx-x {
        cursor: pointer;
    }

    .nav_btn .btn {
        display: none;
    }

    .nav_links {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        z-index: 1;
        right: -60rem;
        top: 5rem;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 1.3rem;
    }
    
    .nav_link_btn {
        margin-top: 5rem;
        display: block;
        width: 100%;
        padding: 20px 40px;
        font-size: 1.2rem;
    }

    .nav_links a {
        padding: 1rem 0;
        font-size: 1.5rem;
        font-weight: 400;
        transition: .3s ease-out;
    }

    .corousel_content::before {
        z-index: -1;
    }


}